{{> header }}
<div class="page">
    {{> navigation }}
    <div class="trendy contentpart">
        {{> banner }}

        <div class="decortop">
            <div class="container">
                <h1>Магазины {{ brand_title }} в {{ city_title }}</h1>
            </div>
        </div>
        <div class="container">
            <section class="map">
                <!-- google map -->
                <div class="map-holder">
                    <div id="container_markets" style="display: none;" center_latitude="{{ center_latitude }}" center_longitude="{{ center_longitude }}">
                        {{#markets}}
                            <span id="{{ id }}" address="{{ address }}" phone="{{ phone }}" latitude="{{ latitude }}" longitude="{{ longitude }}">{{ title }}</span>
                        {{/markets}}
                    </div>
                    <div id="map"></div>
                </div>
            </section>


            <div class="sixteen columns contact">
                <div class="decortop2"></div>
                <div>
                    {{#markets}}
                    <section class="first one_third {{#lastcolumn}} lastcolumn {{/lastcolumn}}">
                        <h2>{{ title }}</h2>
                        <ul class="contactsidebar shadow1">
                            <li>Адрес: {{ address }}</li>
                            <li>Телефон: {{ phone }}</li>
                            <li>Сайт: <a href="{{ site }}" target="_blank" title="">{{ site }}</a></li>
                        </ul>
                    </section>
                    {{/markets}}
                </div>
            </div>
            <!-- end sixteen columns -->
        </div>
    </div>

    {{> bottom }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(initMaps);

        function initMaps() {

            var myMap = new ymaps.Map("map", {
                center: [$('#container_markets').attr('center_latitude'), $('#container_markets').attr('center_longitude')],
                zoom: 10
            });

            myMap.controls.add('zoomControl', { left: 5, top: 5 });

            $('#container_markets span').each(function(){
                market = $(this);

                var title = market.attr('title');
                var url = market.attr('url');

                myPlacemark = new ymaps.Placemark([market.attr('latitude'), market.attr('longitude')], {
                    balloonContentHeader: title,
                    balloonContentBody: url,
                    balloonContentFooter: "1",
                    hintContent: title
                });
                myMap.geoObjects.add(myPlacemark);

            })

        }
    </script>


</div>

{{> footer }}