{{> header }}
<div class="page">
    {{> navigation }}
    <div class="trendy contentpart">
        {{> banner }}


        <div class="decortop">
            <div class="container">
                <h2>Магазины в {{ city_title }}</h2>
            </div>
        </div>
        <div class="container">
            <div class="sixteen columns">
                {{#brands}}
                    <div class="one_fourth {{#lastcolumn}} lastcolumn {{/lastcolumn}} latestnews">
                        <div class="news_logo">
                            <a href="/markets/{{ city_url }}/{{ url }}/"><img src="{{ logo }}" /></a>
                        </div>
                        <h4><a href="/markets/{{ city_url }}/{{ url }}/">{{ title }}</a></h4>
                    </div>
                {{/brands}}
            </div>
        </div>

        <div class="decortop"></div>
    </div>

    {{> bottom }}
</div>
{{> footer }}