{{> header }}

<div id="main-content" class="clearfix">
    <div id="left-area">
        <div id="breadcrumbs">
            <a href="/">Главная</a> <span class="raquo">»</span>
            Магазины
        </div>

        <div id="entries">
            <div class="entry post clearfix">
                <h1 class="title">Страны</h1>
                <div id='container'>
                    {{#countries}}
                        <div class="block-post clearfix">
                            <h3 class="title">
                                {{ title }}
                            </h3>
                            {{#cities}}
                                <div>
                                    <a href="/markets/{{ url }}/">{{ title }}</a>
                                </div>
                            {{/cities}}
                        </div>
                    {{/countries}}
                </div>
            </div>
        </div>
    </div>

    {{> right_column }}

    <div id="index-top-shadow"></div>
</div>

{{> footer }}