{{> header }}

<div id="main-content" class="clearfix">
    <div id="left-area">
        <div id="breadcrumbs">
            <a href="/">Главная</a> <span class="raquo">»</span>
            <a href="/markets/">Магазины</a> <span class="raquo">»</span>
            <a href="/markets/{{ city_url }}/">{{ city_title }}</a> <span class="raquo">»</span>
            <a href="/markets/{{ city_url }}/{{ brand_url }}/">{{ brand_title }}</a> <span class="raquo">»</span>
            {{ title }}
        </div>

        <div id="entries" style="height: 100%;">
            <div class="entry post clearfix">
                <h1 class="title">{{ title }}</h1>
                <div class="post-meta">
                    <p class="meta-info">
                    </p>
                </div>

                <div class="thumb" style="width: 200px">
                    {{> market_maps }}
                    <span class="overlay"></span>
                </div>
                <table class="info">
                    <tbody>
                    <tr>
                        <td class="type">Город</td>
                        <td>
                            <div style="position: relative">
                                {{ city_title }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="type">Адрес</td>
                        <td>
                            <div style="position: relative">
                                {{ address }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="type">Телефон</td>
                        <td>
                            <div style="position: relative">
                                {{ phone }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="type">Сайт</td>
                        <td>
                            <div style="position: relative">
                                {{ site }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br style="clear: both;"/>
                <div class='description'>
                    <div class="description_header">Краткое описание</div>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ description }}
                </div>
            </div>
        </div>
    </div>

    {{> right_column }}

    <div id="index-top-shadow"></div>
</div>

{{> footer }}