{{> header }}
<div class="page">
    {{> navigation }}
    <div class="trendy contentpart">
        {{> banner }}

        <div class="decortop">
            <div class="container">
                <h1>{{ title_page }}</h1>
            </div>
        </div>
        <div class="container">
            <div class="sixteen columns">
                <h2 class="intro {{#back}}back{{/back}}">
                    {{#back}}
                        <span>
                            <a href="/models/">&lt;&lt; назад</a>
                        </span>
                    {{/back}}
                    {{^back}}
                    {{#words}}
                            <span style="margin-right: 1%;">
                                <a href="/models/{{ url }}/">{{ up }}</a>
                            </span>
                    {{/words}}
                    {{/back}}
                </h2>
            </div>

            <div class="sixteen columns omega">
                {{#models}}
                <div class="one_third1 {{#lastcolumn}} lastcolumn {{/lastcolumn}}">
                    <div class="view view-first">
                        <img src="{{ image }}" alt="" />
                        <div class="mask">
                            <h2><a href="/model/{{ id }}/">{{ name }}</a></h2>
                        </div>
                    </div>
                </div>
                {{/models}}
            </div>
        </div>

        <div class="decortop"></div>
    </div>

    {{> bottom }}
</div>
{{> footer }}