{{> header }}

<style>
    .sitemap-col {
        width: 31%;
    }
    .block-post{
        float: left;
        padding-right: 10px;
    }
</style>
<div id="main-content" class="clearfix">
	<div id="left-area">
		<div id="breadcrumbs">
			<a href="/">Главная</a> <span class="raquo">»</span>
            <a href="/models/">Модели</a> <span class="raquo">»</span>
            Все модели
		</div>

		<div id="entries" style="height: 100%;">
			<div class="entry post clearfix">
                <div class="entry post clearfix">
                    <h1 class="title"> Все модели</h1>
                    <div id="sitemap">
                        {{#word_models}}

                            <div class="sitemap-col">
                                <h2>{{ word }}</h2>
                                <ul id="sitemap-pages">
                                    {{#models}}

                                        <li class="page_item">
                                            <a href="/model/{{ id }}/">{{ name }}</a>
                                        </li>
                                    {{/models}}
                                </ul>
                            </div>
                        {{/word_models}}
                    </div>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>

	{{> right_column }}

	<div id="index-top-shadow"></div>
</div>

{{> footer }}