<div class="trendy bottom">
    <footer class="container">
        <div class="eight columns first-part">
            <!--<p>Copyright &copy; 2013 <a href="http://www.anarieldesign.com/">Anariel Design</a> All Rights Reserved.</p>-->
        </div>


        <div class="eight columns last-part">
            <ul class="socials">
                <!--<li><a href="#"><img src="/s/img/socials/twitter.png" alt="" /></a></li>-->
                <!--<li><a href="#"><img src="/s/img/socials/facebook.png" alt="" /></a></li>-->
                <!--<li><a href="#"><img src="/s/img/socials/dribbble.png" alt="" /></a></li>-->
                <!--<li><a href="#"><img src="/s/img/socials/google+.png" alt="" /></a></li>-->
                <!--<li><a href="#"><img src="/s/img/socials/linkedin.png" alt="" /></a></li>-->
                <!--<li><a href="#"><img src="/s/img/socials/youtube.png" alt="" /></a></li>-->
            </ul>
        </div>
    </footer>
</div>