
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/s/js/tabs.js"></script>
        <script src="/s/js/jquery.flexslider-min.js"></script>
        <script src="/s/js/screen.js"></script>
        <script src="/s/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/s/js/supersized.3.2.7.min.js"></script>
        <script src="/s/js/supersized.js" type="text/javascript"></script>
        <script type="text/javascript" src="/s/js/responsiveslides.min.js"></script>
    </body>
</html>