<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Trendy | Model Portfolio Page</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{#is_main}}
		<meta name="google-site-verification" content="pk1hN-3Mc0IqVLENcANXeuh4AWBN1cQT93SQWsmCr_Q" />
		<meta name='yandex-verification' content='6a5e6d8f830950c9' />
    {{/is_main}}
    <link rel="stylesheet" href="/s/css/base.css">
    <link rel="stylesheet" href="/s/css/skeleton.css">
    <link rel="stylesheet" href="/s/css/style.css">
    <link rel="stylesheet" href="/s/css/main.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/s/img/favicon.ico">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-56482993-1', 'auto');
		ga('send', 'pageview');

	</script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Playfair+Display:400,700,400italic,700italic|Cardo:400,400italic,700|PT+Serif:400,700,400italic,700italic|Ribeye' rel='stylesheet' type='text/css'>
</head>
<body>