<div class="one_third {{#lastcolumn}} lastcolumn {{/lastcolumn}} news">
    <div class="news_logo">
        <a href="/{{ url }}/"><img style="{{^logo}}position: relative;top: 30px;{{/logo}};" src={{#logo}}"{{ logo }}"{{/logo}}{{^logo}}"/s/img/no_foto.jpg" width="150px"{{/logo}} alt="" /></a>
    </div>
    <h4><a href="/{{ url }}/">{{ title }}</a></h4>
    <!--<h5>- Lingerie Shooting -</h5>-->
    {{#annotation}}
        <p>{{ annotation }}</p>
    {{/annotation}}
</div>