<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script src="http://yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    ymaps.ready(initMaps);

     function initMaps() {

            var myMap = new ymaps.Map("map", {
                center: [$('#container_markets').attr('center_latitude'), $('#container_markets').attr('center_longitude')],
                zoom: 10
            });

            myMap.controls.add('zoomControl', { left: 5, top: 5 });

            $('#container_markets span').each(function(){
                makter = $(this);

                myPlacemark = new ymaps.Placemark([market.attr('latitude'), market.attr('longitude')], {
                    balloonContentHeader: market.attr('title'),
                    balloonContentBody: market.attr('url'),
                    balloonContentFooter: "",
                    hintContent: market.attr('title')
                });
                myMap.geoObjects.add(myPlacemark);

            })

    }
</script>
<div id="container_markets" style="display: none;" center_latitude="{{ center_latitude }}" center_longitude="{{ center_longitude }}">
    {{#markets}}
        <span id="{{ id }}" address="{{ address }}" phone="{{ phone }}" latitude="{{ latitude }}" longitude="{{ longitude }}">{{ title }}</span>
    {{/markets}}
</div>
<div id="map" style="width:200px; height:200px"></div>
