<div class="trendy navigation">
    <div class="logo">

        <a href="/">
            <h2>Moda <img src="/s/img/logo.jpg" alt="iceland" /></h2>
        </a>
    </div>

    <h3 class="tagline">GlosStyle.ru</h3>
    <div class="container divider">
        <div class="sixteen columns">
            <div class="sep"></div>
        </div>
    </div>
    <nav class="container primary">
        <div class="sixteen columns">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/designers/">Дизайнеры</a></li>
                <li><a href="/models/">Модели</a></li>
                <!--<li><a href="/markets/">Магазины</a></li>-->
            </ul>
        </div>
    </nav>

    <div class="trendy footer">
        <footer class="container main">
            <div class="four columns banner_200x200">
                <!--<img id="banner_200x200" src="/s/img/banner_200x200.jpg" />-->
            </div>
        </footer>
    </div>

</div>