<div id="sidebar">
    {{#is_designers}}
	<h4 class="main-title widget-title">Дизайнеры</h4>
	<div class="widget">
		<ul>
			{{#designers}}
			<li>
				<a href="/designer/{{ id }}/" >{{ name }}</a>
			</li>
			{{/designers}}
		</ul>
	</div>
    {{/is_designers}}
    {{#is_models}}
	<h4 class="main-title widget-title">Модели</h4>
	<div class="widget">
		<ul id="recentcomments">
			{{#models}}
			<li class="recentcomments">
				<a href="/model/{{ id }}/" >{{ name }}</a>
			</li>
			{{/models}}
		</ul>
	</div>
    {{/is_models}}
</div>