<div class="modal fade" style="left: 36%; width: auto;">
	<form action="/image/add/" method="post" enctype="multipart/form-data" class="form-horizontal" style="margin-bottom:0;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h4>Добавить картинку</h4>
		</div>
		<div class="modal-body">
			<fieldset>
				<div class="control-group">
					<label for="title" class="control-label">Титл</label>
					<div class="controls">
						<input type="text" name="title" id="title" class="span5" />
					</div>
				</div>
				<div class="control-group">
					<label for="image" class="control-label">Картинка</label>
					<div class="controls">
						<input type="file" name="image" id="image" />
					</div>
				</div>
				<div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="checkbox" name="fl" id="is_main" value="1" checked="checked" />
                            гл картинка
                        </label>
                    </div>
                 </div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Сохранить</button>
			<a href="#" class="btn" data-dismiss="modal">Закрыть</a>
		</div>
		<input type="hidden" name="parent" value="{{ parent }}" />
		<input type="hidden" name="parent_id" value="{{ parent_id }}" />
	</form>
</div>