{{> header }}

<div id="main-content" class="clearfix">
	<div id="left-area">
		<div id="breadcrumbs">
			<a href="http://www.elegantthemes.com/preview/Aggregate/">Home</a> <span class="raquo">»</span>
			Поиск
		</div>
		<div id="entries" style="height: 1494px;">
			<div class="entry post clearfix">
				<h1 class="title">Поиск</h1>
				<div id="et-search">
					<div id="et-search-inner" class="clearfix">
						<p id="et-search-title">
							<span>search this website</span>
						</p>
						<form action="/product/search/result/" method="get" id="et_search_form">
							<div id="et-search-left">
								<p id="et-search-word">
									<input type="text" id="et-searchinput" name="s" value="search this site...">
								</p>

								<p id="et_choose_posts">
									<label><input type="checkbox" id="et-inc-posts" name="et-inc-posts"> Posts</label>
								</p>
								<p id="et_choose_pages">
									<label><input type="checkbox" id="et-inc-pages" name="et-inc-pages"> Pages</label>
								</p>
								<p id="et_choose_date">
									<select id="et-month-choice" name="et-month-choice">
										<option value="no-choice">Select a month</option>
									</select>
								</p>

								<p id="et_choose_cat">
									<select name="et-cat" id="et-cat" class="postform">
										<option value="0" selected="selected">Choose a Category</option>
									</select>
								</p>
							</div> <!-- #et-search-left -->

							<div id="et-search-right">
								<input type="hidden" name="et_searchform_submit" value="et_search_proccess">
								<input class="et_search_submit" type="submit" value="Submit" id="et_search_submit">
							</div>
						</form>
					</div>
				</div>

				<div class="clear"></div>
			</div>

		</div>
	</div>

	{{> right_column }}

	<div id="index-top-shadow"></div>
</div>

{{> footer }}