{{> header }}

<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li><a href="/countries/">Страны</a></li> /
		<li><a href="/country/{{ country_id }}/cities/">{{ country_title }}</a></li> /
        <li><a href="/city/{{ city_id }}/markets/">{{ city_title }}</a></li> /
        <li class="active">{{ legend }}</li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>

			<div class="control-group">
				<label class="control-label" for="inputTitle">Название</label>
				<div class="controls">
                    <input type="hidden" id="cityTitle" value="{{ city_title }}">

                    <input type="text" id="inputTitle" name="title" value="{{ title }}" class="span6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputAddress">Адрес</label>
				<div class="controls">
					 <input type="text" id="inputAddress" name="address" value="{{ address }}" class="span6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPhone">Телефоны</label>
				<div class="controls">
					 <input type="text" id="inputPhone" name="phone" value="{{ phone }}" class="span6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSite">Сайт</label>
				<div class="controls">
					 <input type="text" id="inputSite" name="site" value="{{ site }}" class="span6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLatitude">Широта</label>
				<div class="controls">
					 <input type="text" id="inputLatitude" name="latitude" value="{{ latitude }}" class="span6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLongitude">Долгота</label>
				<div class="controls">
					 <input type="text" id="inputLongitude" name="longitude" value="{{ longitude }}" class="span6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>

			<hr/>

			<div class="control-group">
				<label class="control-label">Бренды</label>
				 <div class="controls controls_elements" id="container_elements">
                    {{#brands}}
                        <div class='element' id="brand_{{ id }}">
                            <input type="checkbox" name="brand[]" value="{{ id }}" checked />
                            {{ title }}
                            <span class="icon-remove-sign remove_element"></span>
                        </div>
                    {{/brands}}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Выбрать Бренд</label>
				 <div class="controls controls_elements" id="add_brand_word">
                    {{#words}}
                        <span class='word' style="margin-right: 10px">{{ word }}</span>
                    {{/words}}
				</div>
			</div>

            <div class="control-group">
                <label class="control-label">Доб Бренд</label>
                <div class="controls controls_elements" id="container_words">
                </div>
            </div>

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

{{> footer }}