{{> header }}
<div class="container" style="margin-top: 50px;">
    <ul class="breadcrumb">
        <li><a href="/countries/">Страны</a></li> /
        <li><a href="/country/{{ country_id }}/cities/">{{ country_title }}</a></li> /
        <li class="active">{{ city_title}}: Магазины</li>
    </ul>

	<div style="margin-bottom: 10px;clear:both;">
		<a href="/city/{{ city_id }}/market/create/" class="btn" ><i class="icon-plus"></i> Добавить магазин</a>
	</div>
	<div style="clear: both;">
		{{#word_markets}}
			<div class="block_elements">
				<div class="block_letter">{{ word }}</div>
				{{#markets}}
				<div class="block_element">
					<div>
						<div style="margin-right: 10px;width: 120px;float: Left;">
							{{ title }}
						</div>
						<a class="btn btn-mini"  rel="tooltip" href="/city/{{ city_id }}/market/{{ id }}/edit/" title="Редактировать"><i class="icon-edit"></i></a>
					</div>
				</div>
				{{/markets}}
			</div>
		{{/word_markets}}
	</div>
</div>
{{> footer }}