.container{
    width: 1140px !important;
}
.block_elements{
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 22%;
}
.block_element_title{
    margin-right: 10px;
    width: 100px;
    float: left;
}
.block_letter{
    float: left;
    font-weight: bold;
}
.block_element{
    margin-left: 15px;
}
.block_element div{
    margin-bottom: 10px;

}
.element{
    margin-right: 10px;
    cursor: pointer;
    float: left;
    text-align: center;
}
.element input{
    margin: 0px;
}
.word{
    cursor: pointer;
}
.controls_elements{
    margin-top: 5px;
    cursor: pointer;
}
#container_elements input{
    display: none;
}
.info_message{
    background-color: #e8efb6;
}
.error_message{
    background-color: #fb7272;
}