{{> header }}

<style>
    .block-post{
        float: left;
        padding-right: 10px;
    }
</style>
<div id="main-content" class="clearfix">
	<div id="left-area">
		<div id="breadcrumbs">
			<a href="/">Главная</a> <span class="raquo">»</span>
			Примерочная
		</div>

		<div id="entries" style="height: 100%;">
			<div class="entry post clearfix">
				<h1 class="title">Примерочная</h1>
				<div id='fitting_room'>
                    <div id='staff'><img src="/s/img/sh.png" /></div>
                    <div id='staff1'><img src="/s/img/f.png" /></div>
				</div>
			</div>
		</div>
	</div>
    <div id="sidebar">
        <h4 class="main-title widget-title">Набор</h4>
        <div class="widget">
        </div>
    </div>
	<div id="index-top-shadow"></div>
</div>
<script type='text/javascript' src='/s/js/fitting_room.js'></script>

{{> footer }}