{{> header }}
<div class="page">
    {{> navigation }}
    <div class="trendy contentpart">
        {{> banner }}

        <div class="container">
            <div class="sixteen columns">
                <h2 class="intro">Wellcome to <strong>Trendy</strong> Personal Portfolio Website</h2>
            </div>
            <div class="sixteen columns">
                <!--<div class="one_third">-->
                    <!--<div class="moto">-->
                        <!--<h4>Go</h4>-->
                        <!--<h1>Trendy</h1>-->
                        <!--<h3>Fashion</h3>-->
                        <!--<h2>Personal</h2>-->
                        <!--<p>inspirational</p>-->
                    <!--</div>-->
                    <!--<div class="shadow">-->
                        <!--<div class="nextevent">-->
                            <!--<h3>Upcoming Events!</h3>-->
                            <!--<div class="listevents">-->
                                <!--<ul>-->
                                    <!--<li>-->
                                        <!--<h4>Trendy Charity Event</h4>-->
                                        <!--<h5><span class="specialtext">Date:</span> 28.Jan.2013.</h5>-->
                                        <!--<a href="#" class="more">book now</a></li>-->
                                    <!--<li>-->
                                        <!--<h4>Trendy Fashion Event</h4>-->
                                        <!--<h5><span class="specialtext">Date:</span> 10.Fab.2013.</h5>-->
                                        <!--<a href="#" class="more">book now</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="lastcolumn latestnews">
                    <h2><span class="highlight">top</span> Brands</h2>
                    <!--<h3>Trendy latest shootings</h3>-->
                    {{#brands}}
                        {{> info_brand }}
                    {{/brands}}
                </div>
            </div>

            <!--<div class="sixteen columns">-->
                <!--<div class="decortop2"></div>-->
                <!--<div class="two_third right">-->
                    <!--<h2 class="secondbox"><span class="highlight">fashion</span> Designers</h2>-->
                    <!--{{#designers}}-->
                        <!--<article>-->
                            <!--&lt;!&ndash;<h2 class="numb">1</h2>&ndash;&gt;-->
                            <!--<a href="/designer/{{ id }}/"><img class="thumb" src="{{ image }}" alt="" /></a>-->
                            <!--<div class="homepost index_designers">-->
                                <!--<h3 class="title">{{ name }}</h3>-->
                                <!--<h3 class="date">-->
                                    <!--{{#brands}}-->
                                        <!--{{ title }}-->
                                    <!--{{/brands}}-->
                                <!--</h3>-->

                            <!--</div>-->
                            <!--<p class="posttext">{{ description }} <a href="/designer/{{ id }}/">подробнее &rarr;</a> </p>-->
                        <!--</article>-->
                        <!--<img class="divider" src="/s/img/divider1.png" alt="" />-->
                    <!--{{/designers}}-->
                <!--</div>-->

                <!--<div class="one_third lastcolumn">-->
                    <!--<h2 class="secondbox">-->
                        <!--{{#brands_filter}}-->
                            <!--{{ title }}-->
                        <!--{{/brands_filter}}-->
                    <!--</h2>-->
                    <!--<div id="secondary-slider" class="flexslider">-->
                        <!--<ul class="slides">-->
                            <!--{{#brands_block}}-->
                            <!--<li>-->
                                <!--<p>{{ title }}</p>-->
                                <!--<a href="/{{ url }}/"><img src="{{ logo }}" alt="" /></a>-->
                                <!--<p class="quote">{{ annotation }}</p>-->
                            <!--</li>-->
                            <!--{{/brands_block}}-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="sixteen columns">-->
                <!--<div class="decortop3"></div>-->
                <!--<div class="four columns alpha">-->
                    <!--<div class="moto">-->
                        <!--<h4>Be</h4>-->
                        <!--<h1>Trendy</h1>-->
                        <!--<h3>Beauty</h3>-->
                        <!--<h2>Charity</h2>-->
                        <!--<p>inspirational</p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="twelve columns omega">-->
                    <!--{{#models_1}}-->
                        <!--<div class="one_third {{#lastcolumn}} lastcolumn {{/lastcolumn}}">-->
                            <!--<div class="view view-first">-->
                                <!--<img src="{{ image }}" alt="" />-->
                                <!--<div class="mask">-->
                                    <!--<h2><a href="/model/{{ id }}/">{{ name }}</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--{{/models_1}}-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="sixteen columns">-->
                <!--<img class="divider1" src="/s/img/divider1.png" alt="" />-->
                <!--<div class="twelve columns alpha">-->
                    <!--{{#models_2}}-->
                        <!--<div class="one_third {{#lastcolumn}} lastcolumn {{/lastcolumn}}">-->
                            <!--<div class="view view-first">-->
                                <!--<img src="{{ image }}" alt="" />-->
                                <!--<div class="mask">-->
                                    <!--<h2><a href="/model/{{ id }}/">{{ name }}</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--{{/models_2}}-->

                <!--</div>-->


                <!--<div class="four columns omega">-->
                    <!--<div class="moto">-->
                        <!--<h4>Be</h4>-->
                        <!--<h1>Trendy</h1>-->
                        <!--<h3>Beauty</h3>-->
                        <!--<h2>Charity</h2>-->
                        <!--<p>inspirational</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>

        <div class="decortop"></div>
    </div>

    {{> bottom }}
</div>
{{> footer }}