{{> header }}

<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li><a href="/model/">Модели</a></li> /
		<li class="active">{{ legend }}</li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>

			<div class="control-group">
				<label class="control-label" for="inputTitle">Имя</label>
				<div class="controls">
					 <input type="text" id="inputTitle" name="name" value="{{ name }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSurname">Фамилия</label>
				<div class="controls">
					 <input type="text" id="inputSurname" name="surname" value="{{ surname }}" class="span11">
				</div>
			</div>

            <div class="control-group">
                <label class="control-label" for="inputPopular">Популярный</label>
                <div class="controls">
                    <input type="checkbox" style="margin-top: 5px;" id="inputPopular" name="is_popular" value="1" {{ popular_checked }}>
                </div>
            </div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>

            <hr/>
            <div class="control-group">
                <label class="control-label" for="inputDescription"><a href="/image/add/?parent_id={{ id }}&amp;parent={{ class_name }}&amp;is_logo=1" rel="tooltip" title="Добавить картинку" modal="window" class="btn btn-mini">Добавить картинку</a></label>
                <div class="controls" style="padding-top: 5px;">
                    {{#images}}
                    <div style="float: left;margin-right: 10px;">
                        <img src="{{ hash }}" />
                    </div>
                    {{/images}}
                </div>
            </div>

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

{{> footer }}