{{> header }}
<div class="container" style="margin-top: 50px;">
    <ul class="breadcrumb">
        {{#title}}
            <li class="active"><a href="/models/">Модели</a> / </li>
            <li class="active">{{ title }}</li>
        {{/title}}
        {{^title}}
            <li class="active">Модели</li>
        {{/title}}

        <li style="margin-left: 20px">
            {{#words}}
                <span style="margin-right: 5px;">
                    <a href="/models/{{ url }}/">{{ up }}</a>
                </span>
            {{/words}}
        </li>

    </ul>
    <div style="margin-bottom: 10px;clear:both;">
        <a href="/model/create/" class="btn" ><i class="icon-plus"></i> Добавить Модель</a>
    </div>

    <div style="clear: both;">
        <table class="table table-striped">
            <tr>
                <th>
                    Ф И О
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            {{#models}}
            <tr>
                <td style="width: 85%;">
                    {{ name }}
                </td>
                <td>
                    <a class="btn btn-mini"  rel="tooltip" href="/model/{{ id }}/edit/" title="Редактировать"><i class="icon-edit"></i></a>
                </td>
            </tr>
            {{/models}}
        </table>
    </div>
</div>
{{> footer }}