<div class="modal fade" style="left: 36%; width: auto;">
    <form action="/queue/add/" method="post" enctype="multipart/form-data" class="form-horizontal" style="margin-bottom:0;">

        <div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h4>Добавить</h4>
		</div>
		<div class="modal-body">
			<fieldset>
				<div class="control-group">
					<label for="title" class="control-label">Название</label>
					<div class="controls">
						<input type="text" name="title" id="title" class="span5" value="{{ name_file }}" />
					</div>
				</div>
				<div class="control-group">
					<label for="worker" class="control-label">Тип</label>
					<div class="controls">
						<select name='worker' id='worker'>
							<option value='Brand'>Бренд</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label for="excel" class="control-label">Файл</label>
					<div class="controls">
						<input type="file" name="excel" id="excel" />
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Сохранить</button>
			<a href="#" class="btn" data-dismiss="modal">Закрыть</a>
		</div>
	</form>
</div>