{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		Очередь
	</ul>
	<div style="margin-bottom: 10px;clear:both;">
		<a href="/queue/add/" modal="window" class="btn" ><i class="icon-plus"></i>Добавить</a>
	</div>
	<div style="clear: both;">
		<h3>Разобранные</h3>
			<table class="table table-striped">
				<tr>
					<th>
						Название
					</th>
					<th>
						Время создания
					</th>
					<th>
						Время разбора
					</th>
					<th>&nbsp;
					</th>
				</tr>
				{{#queue}}
					<tr {{#is_error}}class="error"{{/is_error}}{{^is_error}}{{#is_processed}}class="success"{{/is_processed}}{{/is_error}}>

						<td>
							{{ title }}
						</td>
						<td>
							{{ create_time }}
						</td>
						<td>
							{{ processed_time }}
						</td>
						<td>
							<a class="btn btn-mini"  rel="tooltip" href="/queue/{{ id }}/elem/" title="Просмотр"><i class="icon-edit"></i></a>
						</td>
					<tr>
				{{/queue}}
			</table>

			<h3>В очереди</h3>
			<table class="table table-striped">
				<tr>
					<th>
						Название
					</th>
					<th>
						Время создания
					</th>
				</tr>
				{{#queue_list}}
					<tr>
						<td>
							{{ title }}
						</td>
						<td>
							{{ create_time }}
						</td>
					<tr>
				{{/queue_list}}
			</table>
	</div>
</div>
{{> footer }}