{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li><a href="/countries/">Страны</a></li> /
		<li class="active">{{ legend }}</li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>
			<div class="control-group">
				<label class="control-label" for="inputTitle">Название</label>
				<div class="controls">
					 <input type="text" id="inputTitle" name="title" value="{{ title }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputTitleRus">Название (Русское)</label>
				<div class="controls">
					 <input type="text" id="inputTitleRus" name="title_rus" value="{{ title_rus }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{{> footer }}
