{{> header }}
<div class="container" style="margin-top: 50px;">
    <ul class="breadcrumb">
        <li class="active">Страны</li>
    </ul>
    <div style="margin-bottom: 10px;clear:both;">
        <a href="/country/create/" class="btn" ><i class="icon-plus"></i> Добавить Страну</a>
    </div>

    <div style="clear: both;">
        <table class="table table-striped">
            <tr>
                <th>
                    Название
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            {{#countries}}
            <tr>
                <td style="width: 85%;">
                    {{ title }}
                </td>
                <td>
                    <a class="btn btn-mini"  rel="tooltip" href="/country/{{ id }}/cities/" data-original-title="Города"><i class="icon-align-justify"></i></a>
                    <a class="btn btn-mini"  rel="tooltip" href="/country/{{ id }}/edit/" data-original-title="Редактировать"><i class="icon-edit"></i></a>
                </td>
            </tr>
            {{/countries}}
        </table>
    </div>
</div>
{{> footer }}