{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		{{#parent_title}}
			<li class="active"><a href="/brands/">Бренды</a> / </li>
			<li class="active"><a href="/brand/{{ parent_id }}/subs/">{{ parent_title }}</a> </li>
		{{/parent_title}}
		{{^parent_title}}
			<li><a href="/brands/">Бренды</a></li>
		{{/parent_title}}
        <li style="margin-left: 20px">
            {{#words}}
                <span style="margin-right: 5px;">
                    <a href="{{ url }}">{{ up }}</a>
                </span>
            {{/words}}
        </li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>
			<div class="control-group">
				<label class="control-label" for="inputTitle">Название</label>
				<div class="controls">
					 <input type="text" id="inputTitle" name="title" value="{{ title }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputTitleRus">Название (Русское)</label>
				<div class="controls">
					 <input type="text" id="inputTitleRus" name="title_rus" value="{{ title_rus }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputYear">Год основания</label>
				<div class="controls">
					 <input type="text" id="inputYear" name="year" value="{{ year }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputFounder">Основатель</label>
				<div class="controls">
					 <input type="text" id="inputFounder" name="founder" value="{{ founder }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputUrl">Урл</label>
				<div class="controls">
					 <input type="text" id="inputUrl" name="url" value="{{ url }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSite">Сайт</label>
				<div class="controls">
					 <input type="text" id="inputSite" name="site" value="{{ site }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSiteShop">Интернет магазин</label>
				<div class="controls">
					 <input type="text" id="inputSiteShop" name="site_shop" value="{{ site_shop }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputCountry">Страна</label>
				<div class="controls">
					<select name='country' id='inputCountry'>
						{{#countries}}
							<option value='{{ id }}' {{ selected }}>{{ title }}</option>
						{{/countries}}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPopular">Популярный</label>
				<div class="controls">
                    <input type="checkbox" style="margin-top: 5px;" id="inputPopular" name="is_popular" value="1" {{ popular_checked }}>
                </div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputProduct">Продукты</label>
				<div class="controls">
                    <input type="checkbox" style="margin-top: -2px;" id="inputProduct" name="is_man" value="1" {{ man_checked }}> Мужская <br/>
                    <input type="checkbox" style="margin-top: -2px;" name="is_woman" value="1" {{ woman_checked }}> Женская<br/>
                    <input type="checkbox" style="margin-top: -2px;" name="is_baby" value="1" {{ baby_checked }}> Детская<br/>
                    <input type="checkbox" style="margin-top: -2px;" name="is_accessories" value="1" {{ accessories_checked }}> Аксессуары<br/>
                    <input type="checkbox" style="margin-top: -2px;" name="is_perfume" value="1" {{ perfume_checked }}> Парфюм<br/>
                    <input type="checkbox" style="margin-top: -2px;" name="is_jewelry" value="1" {{ jewelry_checked }}> Юв. изделия<br/>
                </div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputAnnotation">Краткое описание</label>
				 <div class="controls">
					<textarea rows="3" id="inputAnnotation" name="annotation" class="span11">{{ annotation }}</textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>

			<hr/>
			<div class="control-group">
				<label class="control-label" >Дизайнеры</label>
				<div class="controls" style="padding-top: 5px;">

					{{#designers}}
						<div style="float: left;margin-right: 10px;">
							<label class="checkbox">
								<input type="checkbox" value="{{ id }}" name="designers[]" {{ checked }}> {{ name }}
							</label>
						</div>
					{{/designers}}
				</div>
			</div>

            <hr/>
			<div class="control-group">
				<label class="control-label" >Модели</label>
				<div class="controls" style="padding-top: 5px;">

					{{#models}}
						<div style="float: left;margin-right: 10px;">
							<label class="checkbox">
								<input type="checkbox" value="{{ id }}" name="models[]" {{ checked }}> {{ name }}
							</label>
						</div>
					{{/models}}
				</div>
			</div>

			<hr/>
			<div class="control-group">
				<label class="control-label" for="inputDescription"><a href="/image/add/?parent_id={{ id }}&amp;parent={{ class_name }}&amp;is_logo=1" rel="tooltip" title="Добавить картинку" modal="window" class="btn btn-mini">Добавить картинку</a></label>
				<div class="controls" style="padding-top: 5px;">
					{{#images}}
						<div style="float: left;margin-right: 10px;">
							<img src="{{ hash }}" />
                            <a style="position: relative;top: -30px;" href="/photo/brand/{{ brand_id }}/delete/{{ id }}/"><i class="icon-remove"></i></a>
						</div>
					{{/images}}
				</div>
			</div>

			<hr/>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{{> footer }}
