{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
        <li class="active"><a href="/brands/">Бренды</a></li>

        {{#brand_title}}
			<li class="active"> / {{ brand_title }}</li>
		{{/brand_title}}

        <li style="margin-left: 20px">
            {{#words}}
                <span style="margin-right: 5px;">
                    {{#url}}
                        <a href="{{ url }}">{{ up }}</a>
                    {{/url}}
                    {{^url}}
                        <b>{{ up }}</b>
                    {{/url}}
                </span>
            {{/words}}
        </li>
    </ul>
	<div style="margin-bottom: 10px;clear:both;">
		{{#brand_id}}
			<a href="/brand/{{ brand_id }}/sub/create/" class="btn" ><i class="icon-plus"></i> Добавить бренд</a>
		{{/brand_id}}
		{{^brand_id}}
			<a href="/brand/create/" class="btn" ><i class="icon-plus"></i> Добавить бренд</a>
		{{/brand_id}}
	</div>

    <div style="clear: both;">
        <table class="table table-striped">
            <tr>
                <th>
                    Название
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            {{#brands}}
                <tr>
                    <td style="width: 85%;">
                        {{ title }}
                    </td>
                    <td>
                        <!--<a class="btn btn-mini"  rel="tooltip" href="/photo/brand/{{ id }}/" title="фото"><i class="icon-th-large"></i></a>-->
                        <!--<a class="btn btn-mini"  rel="tooltip" href="/brand/{{ id }}/types/" title="Типы одежды"><i class="icon-list"></i></a>-->
                        <!--{{#is_sub}}-->
                        <!--<a class="btn btn-mini"  rel="tooltip" href="/brand/{{ id }}/subs/" title="Суб бренды"><i class="icon-align-justify"></i></a>-->
                        <!--{{/is_sub}}-->
                        <a class="btn btn-mini"  rel="tooltip" href="/brand/{{ id }}/edit/" title="Редактировать"><i class="icon-edit"></i></a>
                        <a class="btn btn-mini"  rel="tooltip" href="/brand/{{ id }}/del/" title="Удалить"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            {{/brands}}
        </table>
	</div>
</div>
{{> footer }}