/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* #Basic Styles
================================================== */
	body {
	background: #fff;
	font: 14px/21px Arial, sans-serif;
	line-height:1.5em;
	color:#453c55;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}
/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
	color: #1b142c;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration:none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	text-decoration:none;
}
h1 {
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 14px;
    text-align: center;
}
h2 {
	font-size: 26px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3 {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 8px;
	color:#9c8d85;
}
h4 {
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 4px;
}
h5 {
	font-size: 16px;
	line-height: 16px;
}
h6 {
	font-size: 14px;
	line-height: 14px;
}
.subheader {
	color: #777;
}
p {
	margin: 0 0 20px 0;
	font-size:15px;
	line-height:1.5em;
}
p img {
	margin: 0;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}
/*	Blockquotes  */
	blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}
hr {
	background:url(/s/img/caption1.png) repeat;
	display:block;
	height:5px;
	clear: both;
	margin: 10px 0 30px;
	border:none;
}
/* #Links
================================================== */
a, a:visited {
	color: #ada1c0;
	text-decoration: none;
	outline: 0;
}
a:hover, a:focus {
	color: #ada1c0;
}
p a, p a:visited {
	line-height: inherit;
}
/* #Lists
================================================== */
	ul, ol {
	margin-bottom: 20px;
}
ul {
	list-style: none outside;
}
ol {
	list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px;
}
ul.square {
	list-style: square outside;
}
ul.circle {
	list-style: circle outside;
}
ul.disc {
	list-style: disc outside;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 4px 0 5px 30px;
	font-size: 90%;
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin-bottom: 6px;
}
li {
	line-height: 18px;
	margin-bottom: 12px;
}
ul.large li {
	line-height: 21px;
}
li p {
	line-height: 21px;
}
/* #Images
================================================== */

	img.scale-with-grid {
	max-width: 100%;
	height: auto;
}
/* #Misc
================================================== */
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
/* #Forms
================================================== */

form {
	margin-bottom: 20px;
}
fieldset {
	margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, select {
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
}
select {
	padding: 0;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus {
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	box-shadow:  0 0 3px rgba(0, 0, 0, .2);
}
textarea {
	min-height: 60px;
}
label, legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
select {
	width: 220px;
}
input[type="checkbox"] {
	display: inline;
}
label span, legend span {
	font-weight: normal;
	font-size: 13px;
}
/****************************** Shortcodes ******************************/
/* Content Shortcodes */
.one_half {
	width: 48%;
}
.one_third {
	width: 30.66%;
}
.two_third {
	width: 65.33%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.8%;
}
.one_sixth {
	width: 15%;
}
.one_half, .one_third, .two_third, .one_fourth, .one_fifth {
	margin-right: 4%;
	margin-bottom: 10px;
	float: left;
}
.one_sixth {
	margin-right: 2%;
	margin-bottom:20px;
	float: left;
}
.lastcolumn {
	margin-right: 0!important;
	clear: right;
}
.grid_4 {
	width: 31.333%;
}
.grid_3 {
	width: 48%;
}
.grid_item {
	margin-bottom: 30px;
}
.clearfix {
	display: block;
}
.grid_4, .grid_3 {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}
