
.footer{
    padding: 0 0 14px 20px !important;
    float: none !important;
    margin-top: 5px;
}
.bottom {
    float: right !important;
    width: 960px !important;
}
#banner{
    text-align: center;
}
.news_logo{
    height: 160px;
    text-align: center;
}
.navigation .container {
    padding-top: 5px !important;
}
#banner_200x200{
    margin-top: 10px;
}
.homepost h3.date {
    margin-top: -15px;
}
.homepost h3.title {
    margin-top: 0px !important;
}

img.divider {
    position: relative;
    top: -27px;
    margin: 0px !important;
}
p.posttext a {
    padding-top: 4px !important;
}
.homepost h3.title {
    font-size: 30px !important;
    margin-left: 50px !important;
    text-transform: none !important;
}
.index_designers h3.title {
    font-size: 18px !important;
    margin-left: 0px !important;
}
img.divider {
    margin: -5px auto -35px !important;
}
#map{
    padding: 0px 10px;
    width:100%;
    height:500px;
}
h4>a, h4>a:visited {
    color: #000000 !important;
}
.back{
    text-align: left !important;
    padding-left: 10px !important;
    font-size: 16px !important;
}
.banner_200x200{
    width: 200px;
    height: 300px;
}
.annotation_null{
    height: 230px;
}