/* Background - Supersized slider */	
#supersized {
	display:block;
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
	z-index:-999;
	height:100%;
	width:100%;
}
#supersized img {
	width:auto;
	height:auto;
	position:fixed;
	display:none;
	outline:none;
	border:none;
}
#supersized.speed img {
	-ms-interpolation-mode:nearest-neighbor;
	image-rendering: -moz-crisp-edges;
}	/*Speed*/
#supersized.quality img {
	-ms-interpolation-mode:bicubic;
	image-rendering: optimizeQuality;
}			/*Quality*/
#supersized li {
	display:block;
	list-style:none;
	z-index:-30;
	position:fixed;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#111;
}
#supersized a {
	width:100%;
	height:100%;
	display:block;
}
#supersized li.prevslide {
	z-index:-20;
}
#supersized li.activeslide {
	z-index:-10;
}
#supersized li.image-loading {
	background:#111;
	width:100%;
	height:100%;
}
#supersized li.image-loading img {
	visibility:hidden;
}
#supersized li.prevslide img, #supersized li.activeslide img {
	display:inline;
}
/* #Site Styles
================================================== */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.trendy {
	background: url(/s/img/bg_main.png) repeat #f8f8f8;
	padding: 0 0 14px 0;
}
.trendy.contentpart {
	padding:0;
	background-color:#fef0e8;
	background: rgba(254, 240, 232, 0.95) url(/s/img/rausch.png) repeat;
}
.decortop {
	margin-bottom:0px;
	background:url(/s/img/caption1.png) repeat;
	display:block;
	height:80px;
}
.decortop1 {
	margin-top:-73px;
	margin-bottom:30px;
	background:url(/s/img/caption1.png) repeat;
	display:block;
	height:80px;
}
.trendy.navigation {
	background: #1a132c url(/s/img/rausch.png) repeat;
	padding:20px 0 0 0;
	color: #e0e0e0;
}
.trendy.footer {
	background:#3f3058;
	padding: 49px 0 14px 0;
	color: #e0e0e0;
}
.trendy.bottom {
	background: #1a132c url(/s/img/rausch.png) repeat;
	padding: 20px 0 5px 0;
	color: #e0e0e0;
	border-top:1px solid #000;
}
.logo {
	background:#3f3058;
	height: 160px;
	-moz-border-radius:80px;
	-webkit-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;
	width: 160px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 4px 5px rgba(0, 0, 0, .7), inset 0 1px 0 rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 4px 5px rgba(0, 0, 0, .7), inset 0 1px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 4px 5px rgba(0, 0, 0, .7), inset 0 1px 0 rgba(0, 0, 0, .7);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
.logo:hover {
	background:#4b3a69 url(/s/img/rausch.png) repeat;
}
.logo h2 {
	text-align:center;
	line-height:160px;
	height: 160px;
	-moz-border-radius:80px;
	-webkit-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;
	width: 160px;
	color:#fef0e8;
	text-shadow: -2px -1px 0px #000;
	border:1px dashed #513e71;
	text-transform:uppercase;
	letter-spacing:4px;
	font-weight:bold;
}
.logo h2 img {
	position:absolute;
	z-index:1000;
	margin-top:10px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 4px 5px rgba(0, 0, 0, .7), inset 0 1px 0 rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 4px 5px rgba(0, 0, 0, .7), inset 0 1px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 4px 5px rgba(0, 0, 0, .7), inset 0 1px 0 rgba(0, 0, 0, .7);
}
h3.tagline {
	margin-top:-65px;
	margin-left:0px;
	margin-bottom:40px;
	font-size:12px;
	text-align:center;
	color:#fef0e8;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style:italic;
}
.sep {
	background:url(/s/img/caption2.png) repeat;
	display:block;
	height:6px;
}
.divider {
	margin-bottom:0px;
}
/*************************************** NAVIGATION ****************************************/
nav.primary ul, nav.primary ul li {
	margin: 0px;
}
nav.primary ul {
	border-top:1px solid #1a132c;
}
nav.primary ul ul {
	border-top:none;
}
nav.primary select {
	display: none;
	width:  100%;
	padding: 10px;
	margin: 5px 0;
	-webkit-appearance: none;
	outline: none;
	border:none;
	overflow: hidden;
	max-width: 100%;
	background:#3f3058 url(/s/img/navselect.gif) no-repeat right center;
	color:#fff;
}
nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}
nav.primary ul li a {
	display: inline-block;
	line-height: 45px;
	padding:  0 15px;
	color: #efefef;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.06em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
nav.primary ul li.visited {
	background:#4b3a69 url(/s/img/caption2.png) repeat;
}
/*sub menu*/
nav.primary ul ul {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top:100%;
	left: 0;
	z-index: 999;
	background: #1a132c url(/s/img/rausch.png) repeat;
	height: 0px;
	overflow: hidden;
	width: 220px;
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
nav.primary ul li span {
	display: none;
}
nav.primary ul li:hover ul {
	opacity: 10;
	filter: alpha(opacity=100);
	height: auto;
	overflow: auto;
}
nav.primary ul ul li {
	float: none;
	display: list-item;
	border-bottom: 1px solid #1a132c;
}
nav.primary ul ul li a {
	display: block;
	line-height: 35px;
	text-transform: none;
}
nav.primary ul li:hover > a {
	background:#4b3a69;
}
img.featuredimg {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	display:block;
	margin-left:auto;
	margin-right: auto;
	margin-top:0px;
	background:url(/s/img/rausch.png) repeat;
	-webkit-box-shadow: 2px 1px 0 rgba(0, 0, 0, .3), -2px 1px 1px rgba(255, 255, 255, .3);
	-moz-box-shadow: 2px 1px 0 rgba(0, 0, 0, .3), -2px 1px 1px rgba(255, 255, 255, .3);
	box-shadow: 2px 1px 0 rgba(0, 0, 0, .3), -2px 1px 1px rgba(255, 255, 255, .3);
}
/*************************************** FOOTER ****************************************/
.bottom footer {
	font-size: 12px;
}
div.last-part {
	text-align: right;
}
footer.main header {
	font-size: 14px;
	line-height: 1em;
	margin:15px 0 0 0;
}
.decor {
	background:#34294f url(/s/img/caption.png) repeat;
	margin-top:-15px;
	margin-left:100px;
	height:7px;
}
footer.main h4 {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: inline;
	padding: 0;
	margin: 0;
}
span.special {
	font-style:italic;
	color:#dcdcdc;
	font-size:14px;
}
/*footer lists*/
footer.main ul {
	margin: 7px 0 0;
}
footer.main li {
	padding: 21px 0;
	margin: 0;
	background: url(/s/img/stitch.png) repeat-x left bottom;
}
footer.main li:last-child {
	background: none;
}
p.pborder {
	margin-top:5px;
	font-size:14px;
	text-align:center;
	background: url(/s/img/stitch.png) repeat-x left bottom;
	padding:0px 0 5px 0;
}
.description {
	margin:10px 0 20px 0;
	background:#211a32;
	border: 1px solid rgba(0, 0, 0, 0.2) inset;
	border-bottom:4px solid #756798;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.description h3 {
	border-bottom:1px solid #211a32;
	background:#34294f url(/s/img/rausch.png) repeat;
	padding:5px 0;
	text-align:center;
	color:#fff;
	text-transform: uppercase;
	font-size:22px;
	text-shadow: 1px 1px 0 #000;
	border: 1px solid rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.description ul {
	margin:10px;
}
.description ul li {
	text-align:center;
	border-bottom:1px dashed #211a32;
	padding:5px 0;
	font-size:12px;
}
.description ul li:last-child {
	border-bottom:none;
}
/* Shadow Styles */
.shadow {
	position: relative;
	-moz-box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.7);
}
.shadow:before, .shadow:after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 15px;
	-moz-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.7);
}
.shadow:before {
	right: 10px;
	-moz-transform: rotate(4deg) skewX(4deg);
	-webkit-transform: rotate(4deg) skewX(4deg);
	-o-transform: rotate(4deg) skewX(4deg);
	-ms-transform: rotate(4deg) skewX(4deg);
	transform: rotate(4deg) skewX(4deg);
}
.shadow1 {
	position: relative;
	-moz-box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.7);
	box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.7);
}
.shadow1:before, .shadow1:after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 10px;
	-moz-box-shadow: 0px 12px 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 12px 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 12px 5px rgba(0, 0, 0, 0.7);
}
.shadow1:before {
	right: 10px;
	-moz-transform: rotate(4deg) skewX(4deg);
	-webkit-transform: rotate(4deg) skewX(4deg);
	-o-transform: rotate(4deg) skewX(4deg);
	-ms-transform: rotate(4deg) skewX(4deg);
	transform: rotate(4deg) skewX(4deg);
}
.web-form {
	margin:30px 0;
	padding:10px 0;
	border-bottom:4px solid #756798;
	background:#34294f url(/s/img/rausch.png) repeat;
	text-shadow: 1px 1px 0 #000;
	border: 1px solid rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.web-form h3 {
	color:#dcdcdc;
	padding:0px 0px 3px 0px;
	border-bottom:1px solid #392c59;
	font-size:14px;
	margin-bottom:0px;
}
.web-form h3 img {
	float:right;
}
.date, .daysnumb, .message {
	padding:2px 10px;
}
.date input, .daysnumb input {
	background:#211a32;
	border:1px solid #000;
	color:#dcdcdc;
}
.date select {
	background:#211a32;
	border:1px solid #000;
	color:#fff;
	outline: none;
	-webkit-appearance: none;
	display:block;
	padding:3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#checkin_day {
	float:left;
	width:45%;
}
#checkin_month {
	float:right;
	width:45%;
}
.message textarea#message {
	background:#211a32;
	border:1px solid #000;
	color:#dcdcdc;
}
h4.submitbutton {
	text-align:center;
	background:none;
	border:none;
}
h4.submitbutton a {
	margin-left:10px;
	background:#756798;
	padding:5px;
	color:#fff;
	font-size:12px;
	text-shadow:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
h4.submitbutton a:hover {
	background:#211a32;
}
ul.socials li {
	display: inline-block;
	padding:5px;
	background:#34294f url(/s/img/rausch.png) repeat;
	border: 1px solid rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
}
/****************************** HOME - Content Part - FlexSlider ******************************/
/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a, .flexslider a, .flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
#main-slider {
	position: relative;
	zoom: 1;
	margin-top:-40px;
	padding:30px 30px 0 30px;
	border-bottom:4px solid #f5dacb;
	border-top:2px dashed #fcf8f5;
	border-right:1px solid #cfc2bb;
	border-left:1px solid #cfc2bb;
	background: #fde9de url(/s/img/rausch.png) repeat;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#secondary-slider {
	position: relative;
	zoom: 1;
	background:none;
}
.flexslider .slides {
	zoom: 1;
}
#main-slider .flexslider .slides > li {
	position: relative;
	-webkit-box-shadow:inset 0 4px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .5);
	-moz-box-shadow:inset 0 4px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .5);
	box-shadow:inset 0 4px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(0, 0, 0, .5);
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
	zoom: 1;
	position: relative;
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {
	zoom: 1;
	width: 30%;
	padding: 2%;
	margin-left: 80px;
	margin-bottom: 30px;
	position: absolute;
	left:0;
	bottom:0;
	border-bottom:1px solid rgba(52, 41, 79, 1);
	background-color:#34294f;
	background: rgba(52, 41, 79, 0.7) url(/s/img/rausch.png) repeat;
	color:#fde9de;
	text-align:center;
}
.flex-caption1 {
	zoom: 1;
	width: 20%;
	padding: 2%;
	margin-right: 70px;
	margin-top: 30px;
	position: absolute;
	right:0;
	top:0;
	border-bottom:1px solid rgba(52, 41, 79, 1);
	background-color:#34294f;
	background: rgba(52, 41, 79, 0.7) url(/s/img/rausch.png) repeat;
	color:#fde9de;
	text-align:center;
}
.flex-caption a.more, .flex-caption1 a.more {
	background:#34294f;
	padding:5px;
	color:#fde9de;
}
.flex-caption h4, .flex-caption1 h4 {
	font-size:18px;
	color:#fde9de;
	text-transform:uppercase;
}
.flex-caption p {
	font-style:italic;
	font-size:14px;
	margin-bottom:10px;
}
/* Direction Nav */
.flex-direction-nav {
	height: 0;
}
.flex-direction-nav a {
	width:52px;
	height: 52px;
	margin: -15px 40px;
	display: block;
	background:  url(/s/img/bg_direction_nav.png) no-repeat;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -999em;
}
#secondary-slider .flex-direction-nav a {
	width:32px;
	height: 32px;
	margin:-45px 0 0 78%;
	display: block;
	background: url(/s/img/bg_direction_nav1.png) no-repeat;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
	text-indent: -999em;
}
#secondary-slider .flex-direction-nav .flex-next {
	background-position: -32px 0;
	right: 0px;
}
#secondary-slider .flex-direction-nav .flex-prev {
	left: 0px;
}
.flex-direction-nav .flex-next {
	background-position: -52px 0;
	right: 0px;
}
.flex-direction-nav .flex-prev {
	left: 0px;
}
.flex-direction-nav .flex-disabled {
	opacity: .3;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -30px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav a {
	width: 13px;
	height: 13px;
	display: block;
	cursor: pointer;
	text-indent: -999em;
}
.flex-control-nav a:hover {
	background-position: 0 -13px;
}
.flex-control-nav a.flex-active {
	background-position: 0 -26px;
	cursor: default;
}
/****************************** HOME - Content Part - First Block ******************************/
.latestnews h3 {
	margin-top:-15px;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	letter-spacing:1px;
	text-align:center;
	border-right:5px solid #c7b3a9;
}
span.highlight {
	font-weight:bold;
	color:#5f5575;
	letter-spacing:1px;
	text-transform:lowercase;
	border-top:2px solid #ad9d91;
	font-size:18px;
}
.latestnews h4, .latestnews h5, .latestnews h2 {
	text-align:center;
	margin-bottom:5px;
}
.latestnews h4 {
	text-transform:uppercase;
}
.latestnews h5 {
	font-family:Arial, Helvetica, sans-serif;
	color:#c7b3a9;
	font-style:italic;
}
.latestnews p {
	border-top:1px dashed #c7b3a9;
	border-bottom:1px dashed #c7b3a9;
	padding:5px 0;
	text-align:center;
}
.latestnews img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}
.latestnews img:hover {
	opacity: .6;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}
.moto h4 {
	font-family: 'PT Serif', serif;
	font-style:italic;
	margin-bottom:0;
	font-size:18px;
	margin-right:80px;
	border-top:1px dashed #c7b3a9;
}
.moto h1 {
	text-transform:uppercase;
	margin-top:-10px;
	font-weight:bold;
	margin-bottom:0;
	font-size:40px;
	letter-spacing:2px;
}
.moto h3 {
	text-transform:uppercase;
	letter-spacing:2px;
	font-family: Arial, sans-serif;
	font-weight:100;
	font-size:18px;
	color:#c7b3a9;
	margin-top:-10px;
	margin-bottom:0;
}
.moto h2 {
	text-transform:uppercase;
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size:20px;
	color:#c7b3a9;
	margin-top:-20px;
}
.moto p {
	font-family: 'PT Serif', serif;
	font-style:italic;
	font-size:22px;
	text-transform:lowercase;
	margin-left:85px;
	margin-top:-30px;
	border-bottom:1px dashed #c7b3a9;
}
.nextevent {
	margin:10px 0 20px 0;
	background:#34294f;
	border: 1px solid rgba(0, 0, 0, 0.2) inset;
	border-bottom:4px solid #756798;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.nextevent h3 {
	border-bottom:1px solid #211a32;
	background:#211a32 url(/s/img/rausch.png) repeat;
	padding:5px 0;
	text-align:center;
	color:#fef0e8;
	text-transform: uppercase;
	font-size:20px;
	text-shadow: 1px 1px 0 #000;
	border: 1px solid rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.listevents {
	margin:10px 10px -20px 10px;
	text-align:center;
}
.listevents ul li {
	text-align:center;
	border-bottom:1px dashed #211a32;
	padding:5px 0 10px 0;
	font-size:12px;
}
.listevents ul li:last-child {
	border-bottom:none;
}
.listevents h4 {
	color:#f5dacb;
}
span.specialtext {
	text-transform:lowercase;
}
.listevents h5 {
	color:#c7b3a9;
	font-size:13px;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	border-left:3px solid #c7b3a9;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
	text-align:left;
}
.listevents a.more {
	float:right;
	background:#211a32 url(/s/img/rausch.png) repeat;
	padding:5px;
	font-size:13px;
	color:#f5dacb;
	text-align:center;
	text-shadow:none;
	margin-bottom:20px;
	margin-top:-32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.decortop2 {
	margin-bottom:0px;
	background:url(/s/img/caption1.png) repeat;
	display:block;
	height:40px;
}
/****************************** HOME - Content Part - Second Block ******************************/
h2.secondbox {
	border-top:5px solid #f5dacb;
	padding-top:15px;
}
#secondary-slider ul li p {
	margin-top:-5px;
	margin-bottom:5px;
	color:#716981;
}
#secondary-slider ul li img {
	border-bottom:3px solid #c7b3a9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 2px -2px #fff;
	-moz-box-shadow: 0 2px 2px -2px #fff;
	-webkit-box-shadow: 0 2px 2px -2px #fff;
}
#secondary-slider ul li p a {
	text-transform:uppercase;
	margin-left:10px;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	color:#3f3058;
}
#secondary-slider ul li p.quote {
	font-size:13px;
	margin-top:10px;
	line-height:1.3em;
	font-style:italic;
	color:#c7b3a9;
}
.right h2.secondbox {
	text-align:center;
}
article {
	background: #fce9de url(/s/img/rausch.png) repeat;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
h2.numb {
	margin-top:10px;
	font-family:'Ribeye', cursive;
	color:#fefaf7;
	font-size:80px;
	font-weight:bold;
	float:left;
	position:relative;
}
.homepost {
	position:absolute;
}
.homepost h3.date {
	margin-left:10px;
	font-size:14px;
	text-transform:uppercase;
}
.homepost h3.title {
	color:#1b142c;
	font-size:18px;
	text-transform:uppercase;
	margin-top:-15px;
	margin-left:20px;
}
img.thumb {
	margin-bottom:10px;
	float:right;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
p.posttext {
	margin-top:60px;
    margin-bottom: 30px;
	clear:both;
}
p.posttext a {
	text-transform:uppercase;
	padding-top:15px;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	color:#3f3058;
	float:right;
	margin-bottom:5px;
}
img.divider {
	margin: -25px 0 -15px 0;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/****************************** HOME - Content Part - Third Block ******************************/
.decortop3 {
	margin-bottom:30px;
	background:url(/s/img/caption1.png) repeat;
	display:block;
	height:20px;
}
.view-first img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.view-first .mask {
	width:100%;
	height:100%;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	background:rgba(253, 233, 222, 0.8) url(/s/img/caption.png) repeat;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.view-first h2 {
	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-o-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-first p {
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.view-first:hover img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.view-first a.info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.view-first:hover h2, .view-first:hover p, .view-first:hover a.info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(55px);
}
.view-first:hover p {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.view-first:hover a.info {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.view {
	width:100%;
	height:100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff;
}
.view .mask, .view .content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height:100%;
}
.view img {
	display: block;
	position: relative;
}
.view h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 14px;
	padding: 0;
	background: #edd6c9;
	margin:30px 0 0 0;
}
.view h2 a {
	color:#b5a299;
}
/****************************** HOME - Content Part - Fourth Block ******************************/
img.divider1 {
	margin: -35px 0 0px 0;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/****************************** HOME - Content Part - index2.html Banner ******************************/
#banner {
	margin-bottom:30px;
	background:url(/s/img/caption1.png) repeat;
	display:block;
	padding:15px 0 0 0;
}
input#mce-EMAIL.email {
	padding: 10px 10px;
	outline: none;
	color: #1b142c;
	margin:20px 0 0 0;
	width: 150px;
	max-width: 100%;
	display: block;
	background: #edd6c9;
	border:none;
}
input#mc-embedded-subscribe.button {
	background: #3f3058;
	border: 0 none;
	color: #edd6c9;
	font-weight:normal;
	text-transform:uppercase;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin: -33px 5px 0px 155px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
input#mc-embedded-subscribe.button:hover {
	background-color:#1c152d;
}
h2.intro {
	text-align:center;
	margin-bottom:30px;
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	padding:10px 0;
	-webkit-box-shadow:0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/****************************** ABOUT - Content Part - Bio ******************************/
.decortop h2 {
	text-align:center;
	padding:20px 0 0 0;
	font-size:36px;
}
.decortop h2 span.highlight {
	font-size:24px;
}
.bio {
	margin-top:20px;
}
h3.stats {
	margin-bottom:0;
	border-bottom:1px solid #211a32;
	background:#211a32 url(/s/img/rausch.png) repeat;
	padding:5px 0;
	text-align:center;
	color:#fef0e8;
	text-transform: uppercase;
	font-size:20px;
	text-shadow: 1px 1px 0 #000;
	border: 1px solid rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
img.bioimage {
	border: 1px solid rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3) inset;
}
.bio .tags a {
	height: 26px;
	padding: 0 7px;
	display: block;
	float: left;
	margin: 0 2px 2px 0;
	font-size: 11px;
	line-height: 26px;
	color: #1c152d;
	white-space: nowrap;
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
.bio .tags a:hover {
	background: #ddc4b6 url(/s/img/rausch.png) repeat;
}
p.bioquote {
	border-top:1px dashed #c7b3a9;
	border-bottom:1px dashed #c7b3a9;
	padding:5px 0;
	text-align:center;
	color:#9c8d85;
	font-style:italic;
}
.liststats {
	margin-top:-5px;
	background:#34294f;
	border: 1px solid rgba(0, 0, 0, 0.2) inset;
	border-top:4px solid #756798;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.liststats ul li {
	padding:10px 18px 0 18px;
	display:inline-block;
}
.liststats h4 {
	color:#edd6c9;
	font-size:14px;
}
/****************************** ABOUT - Content Part - Quote ******************************/
.video-holder {
	float:left;
	width:100%;
	height:100%;
}
.video-container {
	position: relative;
	padding-bottom: 50%;
	height: 0;
	overflow: hidden;
	margin-bottom:5px;
	border:3px solid #ccb6aa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* ACCORDION -------------------------------------------------*/
.accordion-trigger {
	text-decoration: none;
	color: #4d4847;
	padding: 3px 0;
	text-shadow:0 0 1px #fff;
	background:url(/s/img/toggle.png) no-repeat right 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
.accordion-trigger.active {
	color: #4d4847;
	background:url(/s/img/toggle.png) no-repeat right -80px;
}
.accordion-trigger:hover {
	background:url(/s/img/toggle.png) no-repeat right 5px;
}
.accordion-trigger.active:hover {
	background:url(/s/img/toggle.png) no-repeat right -80px;
}
.accordion-container {
	background:url(/s/img/divider1.png) bottom center no-repeat;
	margin-bottom: 0px;
	padding:0px 0px 20px 0;
}
.accordion-container img {
	border:2px solid #f0e5dd;
}
.accordion-container a.buttonhome {
	margin-top:-10px;
	margin-bottom:10px;
}
/****************************** GALLERY - Content Part - Main ******************************/
/* FILTERED ITEMS ----------------------------------------------------*/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
#filter-buttons {
	background:url(/s/img/divider.png) bottom center no-repeat;
	padding:0 0 32px 0;
	margin-top:30px;
	text-align: center;
	margin-bottom:0px;
}
#filter-buttons li {
	display: inline-block;
	margin-bottom: 0px;
}
#filter-buttons li a {
	background:#34294f;
	border: 1px solid rgba(0, 0, 0, 0.2) inset;
	border-top:2px solid #756798;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	color:#fce9de;
	display: block;
	text-decoration: none;
	padding: 5px 10px;
}
#filter-container {
	width: 100%;
	margin-bottom:0px;
	padding-top: 5px;
}
#filter-container1 {
	width: 100.48%;
	margin-bottom:0px;
	padding-top: 5px;
}
#filter-container figure {
	margin-bottom: 30px;
}
#filter-container figure .thumb, #filter-container1 figure .thumb {
	display: block;
	width: 100%;
	line-height: 0em;
}
#filter-container figure .thumb img, #filter-container1 figure .thumb img {
	border-bottom:1px dashed #c7b3a9;
	max-width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#filter-container figure .thumb:hover img, #filter-container1 figure .thumb:hover img {
	opacity: 0.8;
}
#filter-container figure, #filter-container1 figure {
	background:#fce9de url(/s/img/rausch.png) repeat;
	border-top:4px solid #edd6c9;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#filter-container figure figcaption, #filter-container1 figure figcaption {
	margin: 20px;
	padding:10px;
	text-align: center;
}
#filter-container figure figcaption .heading, #filter-container1 figure figcaption .heading {
	margin-bottom: 13px;
	font-size: 24px;
	line-height: 1.2em;
	text-transform: uppercase;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#filter-container figure figcaption .readmore, #filter-container1 figure figcaption .readmore {
	display: block;
	margin: 10px 0px;
}
.cf:after, .cf:before {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
/****************************** GALLERY - Content Part - Single ******************************/
#gallerysingle {
	margin-top:-20px;
}
.singleslider a.prev, .singleslider a.next {
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	padding:5px;
	margin-left:5px;
	color: #1c152d;
}
.single ul {
	background: rgba(255, 255, 255, 0.3);
	padding:10px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.single h3 {
	background:#cdc4b5;
	padding:10px;
	margin-bottom:0px;
}
.singlemenu ul li {
	color:#57524a;
	border-bottom:1px solid #fff;
}
.single ul li#active {
	background: rgba(255, 255, 255, 0.2) url(/s/img/raster.png) left center no-repeat;
	padding:10px 20px;
	font-weight:600;
}
.single ul li:last-child {
	border-bottom:none;
}
.single ul li a {
	color:#57524a;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
.single ul li a:hover {
	color:#95a153;
	padding-left:5px;
}
.single ul li.lines {
	background:url(/s/img/raster.png) left center no-repeat;
	padding:20px 20px;
}
span.mass {
	float:right;
	background: rgba(221, 205, 205, 0.8);
	padding:5px;
	margin-top:-5px;
	font-style:italic;
	font-size:14px;
	font-family:'PT Serif', serif;
	font-weight:normal;
}
/****************************** Blog - Content Part - Main ******************************/
.blog {
	margin:20px 0;
}
.blog a {
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	padding:5px;
	color: #1c152d;
}
.blog .posttext {
	margin-bottom:10px;
}
ul.postlist {
	margin-top:20px;
	margin-bottom:0;
}
ul.postlist li {
	display:inline-block;
	color:#9c8d85;
	font-size:13px;
	border-left:1px solid #9c8d85;
	padding:0 5px;
}
ul.postlist li:first-child {
	border-left:none;
}
ul.postlist li a {
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	padding:5px;
	margin-left:3px;
	color: #1c152d;
}
/****************************** Blog - Content Part - Sidebar ******************************/
aside {
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	padding:10px;
}
h4.sidebarheader {
	background:#edd6c9 url(/s/img/caption.png) repeat;
	margin-bottom:15px;
	padding:5px;
	color:#9c8d85;
	text-transform:uppercase;
}
.recentnews {
	margin-bottom:30px;
}
/* #Tabs (activate in tabs.js)
================================================== */
ul.tabs {
	display: block;
	margin: 0 0 4px 0;
}
ul.tabs li {
	width: auto;
	height: 18px;
	padding:0;
	float: left;
	margin:0 5px 0 0;
}
ul.tabs li a {
	text-decoration: none;
	width: auto;
	padding:5px;
	margin:0;
	color: #9c8d85;
	background:#fef0e8 url(/s/img/rausch.png) repeat;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
ul.tabs li a.active {
	background:#9c8d85;
	position: relative;
	color: #fff;
}
ul.tabs li:first-child a.active {
	margin-left: 0;
}
ul.tabs-content {
	display: block;
	background-color:#fef0e8;
	background: rgba(254, 240, 232, 0.95) url(/s/img/rausch.png) repeat;
	padding:20px 10px 5px 10px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
ul.tabs-content > li {
	display:none;
}
ul.tabs-content > li.active {
	display: block;
}
ul.tabs:before, ul.tabs:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
ul.tabs:after {
	clear: both;
}
ul.tabs {
	zoom: 1;
}
.subscribe {
	margin-bottom:10px;
}
.subscribe input#mce-EMAIL.email {
	padding: 10px 10px;
	outline: none;
	color: #1b142c;
	margin:20px 0 0 0;
	width: 150px;
	max-width: 100%;
	display: block;
	background:#fef0e8 url(/s/img/rausch.png) repeat;
	border:none;
}
.subscribe input#mc-embedded-subscribe.button {
	background: #3f3058;
	border:none;
	color: #edd6c9;
	font-weight:normal;
	text-transform:uppercase;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin: -33px 5px 0px 155px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
.subscribe input#mc-embedded-subscribe.button:hover {
	background-color:#1c152d;
}
.latestphotos {
	margin-bottom:10px;
}
ul.categories li {
	display:inline-block;
}
ul.categories li a {
	display:inline-block;
	background:#fef0e8 url(/s/img/rausch.png) repeat;
	padding:5px;
	color: #9c8d85;
}
/****************************** Blog - Content Part - Blog Single ******************************/
.postimage h3.date {
	float:left;
	position:relative;
	display:inline-block;
	background:#34294f;
	color:#edd6c9;
	border: 1px solid rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2) inset;
}
.postimage ul.categories {
	float:right;
	margin-top:5px;
}
.postimage .decortop {
	background:url(/s/img/caption1.png) repeat;
	height:40px;
	padding:0px 0 10px 0;
}
/******************************* CONTACT FORM -  for blog and contact page  *******************************/
#contactForm h2 {
	text-align:center;
}
form#contact_form {
	background:#fce9de url(/s/img/rausch.png) repeat;
	color:#453c55;
}
form#contact_form .name {
	padding:30px 0px 0 20px;
}
form#contact_form .email {
	padding-left:20px;
	padding-top:10px;
}
form#contact_form p {
	margin-bottom:10px;
	padding-top:5px;
	font-style:italic;
}
form#contact_form .message {
	padding-left:20px;
	padding-top:10px;
}
div#loader {
	margin-left: 20px;
	margin-bottom:30px;
}
form#contact_form input[type="text"] {
	border: 1px solid #d9c4b8;
	background-color: #edd6c9;
	height: 30px;
	padding: 0 10px;
	width: 250px;
	margin-bottom:20px;
	color:#453c55;
}
form#contact_form input#email {
	border: 1px solid #d9c4b8;
	background-color: #edd6c9;
	height: 30px;
	padding: 0 10px;
	width: 250px;
	margin-bottom:20px;
	color:#453c55;
}
form#contact_form .message textarea#messagetext {
	border: 1px solid #d9c4b8;
	background-color: #edd6c9;
	width: 500px;
	margin-bottom:20px;
	color:#453c55;
}
form#contact_form label {
	margin-right: 20px;
	font-size: 12px;
	font-weight:bold;
	color: #514050;
	text-transform: uppercase;
}
form#contact_form label span {
	color:#514050;
}
form#contact_form input[type="text"]:focus, form#contact_form input[type="text"]:hover, form#contact_form textarea:focus, form#contact_form textarea:hover, form#contact_form input[type="text"]:focus, form#contact_form input[type="text"]:hover, form#contact_form textarea:focus, form#contact_form textarea:hover {
	background-color:#fce9de;
}
form#contact_form input[type="submit"] {
	border: 1px solid #d9c4b8;
	background-color: #1c152d;
	padding:5px;
	font-size:11px;
	text-transform:uppercase;
	color:#edd6c9;
	margin-bottom:10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
form#contact_form input[type="submit"]:hover {
	color:#d9c4b8;
}
.map-container {
	position: relative;
	padding-bottom: 40%;
	overflow: hidden;
	border-bottom:5px solid #edd6c9;
	border-top:5px solid #edd6c9;
}
.map-container iframe, .map-container object, .map-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}
.contact .decortop2 {
	margin-bottom:20px;
}
/***************** Contact/Sidebar *****************/
.contact .socials {
	margin:0 0 -15px 0;
}
.contactsidebar {
	background: #edd6c9 url(/s/img/rausch.png) repeat;
	padding:10px 0 0 0;
	text-align:center;
}
ul.contactsidebar li a {
	color: #9c8d85;
	font-weight:bold;
	font-style:italic;
	text-shadow:0 0 1px #fff;
}
ul.contactsidebar li {
	padding:0px 0 10px 0;
	color:#453c55;
	border-bottom:1px dashed #fce9de;
}
ul.contactsidebar li:last-child {
	border-bottom:none;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .one_half, .one_third, .two_third, .one_fourth, .one_fifth, .one_sixth {
        width: 100%;
    }
    h3.tagline {
        position: relative;
        margin-top:-65px;
        margin-left:0;
    }
    .divider {
        margin-top:40px;
        margin-bottom:0px;
    }
    #supersized {
        display:none;
    }
    .moto p {
        margin-left:0px;
    }
}
	

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    nav.primary select {
        display: block;
    }
    nav.primary ul {
        display: none;
    }
    .bottom footer {
        text-align: center;
    }
    .one_half, .one_third, .two_third, .one_fourth, .one_fifth, .one_sixth, .grid_4, .grid_3 {
        width: 100%;
    }
    h3.tagline {
        position: relative;
        margin-top:-65px;
        margin-left:0;
    }
    .divider {
        margin-top:40px;
        margin-bottom:0px;
    }
    #supersized {
        display:none;
    }
    .moto p {
        margin-left:0px;
    }
    .flex-caption {
        display:none;
    }
    .flex-caption1 {
        display:none;
    }
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .one_half, .one_third, .two_third, .one_fourth, .one_fifth, .one_sixth, .grid_4, .grid_3 {
        width: 100%;
    }
    h3.tagline {
        position: relative;
        margin-top:-65px;
        margin-left:0;
    }
    .divider {
        margin-top:40px;
        margin-bottom:0px;
    }
    #supersized {
        display:none;
    }
    .moto p {
        margin-left:0px;
    }
    .flex-caption {
        display:none;
    }
    .flex-caption1 {
      display:none;
    }
}
	
/* Additional large screens 1280+ */
@media only screen and (min-width: 1270px) {
    .page {
        width: 1270px;
    }
    .contentpart {
        float: right;
        padding-right: 0px;
    }
    .header {
        float: right;
    }
    .footer {
        float: left;
    }
    .footer .columns {
        clear: both;
    }
    .footer .container, .bottom .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom {
        width: 100%;
        clear: both;
    }
    .bottom .columns {
        float: right;
        text-align: left;
    }
    /*nav*/
    .navigation {
        float: left;
        position: fixed;
    }
    .navigation .container {
        padding: 35px 0 0;
        width: 100%;
    }
    .navigation .container .sixteen.columns {
        width: 280px;
        margin: 0;
    }
    nav.primary ul li {
        clear: both;
        display: block;
        width: 100%;
        border-bottom: 1px solid #0e0a17;
        border-top: 1px solid #281e44;
    }
    nav.primary ul li > a {
        display: block;
        padding: 0 30px;
    }
    nav.primary ul ul li a, nav.primary ul li a {
        line-height: 39px;
    }
    nav.primary ul ul {
        top: 0;
        left: 100%;
    }
}
.one_third1{
    float: left;
    margin-bottom: 10px;
    margin-right: 2%;
}
.one_third1 .view{
    height: 215px !important;
}