<!doctype html>
	<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/s/bootstrap/css/bootstrap.min.css" type="text/css">

		<script src="/j/jquery-1.7.2.min.js"></script>
		<script src="/j/common_bootstrap.js"></script>
	</head>
	<body>

	<div class="container" style="margin-top: 150px;width: 600px">
		<form action="/user/login/" class="form-horizontal" method="post">
				<div class="control-group">
					<label class="control-label" for="inputNick">Login</label>
					<div class="controls">
						 <input type="text" id="inputNick" name="nick" value="" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPasswd">Password</label>
					<div class="controls">
						 <input type="password" id="inputPasswd" name="passwd" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Sign in</button>
					</div>
				</div>
		</form>
	</div>
	<script src="/s/bootstrap/js/bootstrap.min.js"></script>

	</div>
</body>