{{> header }}

<div class="page">
    {{> navigation }}

    <div class="trendy contentpart">
        {{> banner }}
        <div class="decortop">
            <div class="container">
                <h2>{{ title }}</h2>
            </div>
        </div>
        <div class="container">
            <div class="sixteen columns bio">
                <div class="twelve columns alpha">
                    {{ description }}
                    <!--<p class="bioquote">-->

                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                    <!--<h3>trendy topics</h3>-->
                    <!--<div class="tags">-->
                        <!--<a href="/search/adriana/as-seen-in/">As Seen In</a>-->
                    <!--</div>-->
                </div>

                {{#image}}
                <div class="four columns omega contact">
                    <section class="lastcolumn">
                        <ul class="contactsidebar shadow1">
                            <li style="padding: 3px 10px;">
                                <img class="bioimage" src="{{ image }}" alt="" />
                            </li>
                            {{#founder}}
                                <li>Основатель: {{ founder }}</li>
                            {{/founder}}
                            {{#year}}
                                <li>Год основания: {{ year }}</li>
                            {{/year}}
                            {{#site}}
                                <li>Сайт: <a href="{{ site }}" target="_blank" title="">{{ site }}</a></li>
                            {{/site}}
                            {{#site_shop}}
                                <li>Интернет магазин: <a href="{{ site_shop }}" target="_blank" title="">{{ site_shop }}</a></li>
                            {{/site_shop}}
                        </ul>
                    </section>
                </div>
                {{/image}}
            </div>

            {{#is_models}}
            <div class="sixteen columns">
                <div class="decortop3"></div>
                <div class="twelve columns alpha">
                    {{#models}}
                    <div class="one_third {{ lastcolumn }} shadow">
                        <div class="view view-first">
                            <img src="{{ image }}" alt="" />
                            <div class="mask">
                                <h2><a href="{{ url }}">{{ name }}</a></h2>
                            </div>
                        </div>
                    </div>
                    {{/models}}
                </div>

                <div class="four columns omega">
                    <div class="moto">
                        <h4>Be</h4>
                        <h1>Trendy</h1>
                        <h3>Beauty</h3>
                        <h2>Charity</h2>
                        <p>inspirational</p>
                    </div>
                </div>
            </div>
            {{/is_models}}
            <div class="sixteen columns questionary">
                <div class="decortop2"></div>
                {{#is_designers}}
                    <div class="one_half">
                        <h2 class="secondbox">
                            <span class="highlight">fashion</span> Designer
                        </h2>
                        {{#designers}}
                            <article>
                                <!--<h2 class="numb">1</h2>-->
                                <img class="thumb" src="{{ image }}" alt="" />
                                <div class="homepost">
                                    <h3 class="title">{{ name }}</h3>
                                    <!--<h3 class="date">-->

                                    <!--</h3>-->
                                </div>
                                <p class="posttext">{{ description }} <a href="{{ url }}">подробнее &rarr;</a> </p>
                            </article>
                            <img class="divider" src="/s/img/divider1.png" alt="" />
                        {{/designers}}
                    </div>
                {{/is_designers}}
                {{#is_buy}}
                <div class="one_half lastcolumn">
                    <h2 class="secondbox"><span class="highlight">где</span> Купить</h2>
                </div>
                {{/is_buy}}
            </div>
        </div>
        <div class="decortop"></div>
    </div>
    {{> bottom }}
</div>

{{> footer }}