{{> header }}

<style>
    .block-post{
        float: left;
        padding-right: 10px;
    }
</style>
<div id="main-content" class="clearfix">
	<div id="left-area">
		<div id="breadcrumbs">
			<a href="/">Главная</a> <span class="raquo">»</span>
            <a href="/catalog/">Каталог</a> <span class="raquo">»</span>
            Все бренды
		</div>

		<div id="entries" style="height: 100%;">
			<div class="entry post clearfix">
                <div class="entry post clearfix">
                    <h1 class="title">Все бренды</h1>
                    <div id="sitemap">
                        {{#word_brands}}

                            <div class="sitemap-col">
                                <h2>{{ word }}</h2>
                                <ul id="sitemap-pages">
                                    {{#brands}}

                                        <li class="page_item">
                                            <a href="/{{ url }}/">{{ title }}</a>

                                            {{#is_sub_brands}}
                                                <ul class="children">
                                                    {{#sub_brands}}
                                                    <li class="cat-item ">
                                                        <a href="/{{ url }}/" title="">{{ title }}</a>
                                                    </li>
                                                    {{/sub_brands}}
                                                </ul>
                                            {{/is_sub_brands}}
                                        </li>
                                    {{/brands}}
                                </ul>
                            </div>
                        {{/word_brands}}
                    </div>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>

	{{> right_column }}

	<div id="index-top-shadow"></div>
</div>s

{{> footer }}