{{> header }}
<div class="page">
    {{> navigation }}
    <div class="trendy contentpart">
        {{> banner }}


        <div class="decortop">
            <h1>{{ title_page }}</h1>
        </div>
        <div class="container">
            <div class="sixteen columns">
                <h2 class="intro">
                    {{#words}}
                        <span style="margin-right: 1%;">
                            {{^current}}
                                <a href="{{ url }}">{{ up }}</a>
                            {{/current}}
                            {{#current}}
                                <b style="color: #ADA1C0">{{ up }}</b>
                            {{/current}}
                        </span>
                    {{/words}}
                </h2>
            </div>

            <div class="sixteen columns">
                <div class="lastcolumn latestnews">
                    {{#brands}}
                        {{> info_brand }}
                    {{/brands}}
                </div>

            </div>
        </div>

        <div class="decortop"></div>
    </div>

    {{> bottom }}
</div>
{{> footer }}