<!doctype html>
	<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/s/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/s/admin.css" type="text/css">

		<script src="/j/jquery-1.7.2.min.js"></script>
		<script src="/j/common_bootstrap.js"></script>

        {{#script}}
            <script src="{{ scr }}"></script>
        {{/script}}

        {{#script_var}}
            <script>
                var vars = {{ script_var }};
            </script>
        {{/script_var}}

		<title>Панель управления</title>
	</head>
	<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
                <div class="nav-collapse collapse" style="float: right;">
                    <ul class="nav">
                        <li>
                             <a href="/user/logout/">Выход</a>
                        </li>
                     </ul>
                </div>
                <div class="nav-collapse collapse">
					<ul class="nav">
						<li {{#brand_menu}}class="active"{{/brand_menu}}>
							<a href="/brands/">Бренды</a>
						</li>
						<li {{#designer_menu}}class="active"{{/designer_menu}}>
							<a href="/designers/">Дизайнеры</a>
						</li>
						<li {{#model_menu}}class="active"{{/model_menu}}>
							<a href="/models/">Модели</a>
						</li>
						<li {{#country_menu}}class="active"{{/country_menu}}>
							<a href="/countries/">Страны</a>
						</li>
						<li {{#view_menu}}class="active"{{/view_menu}}>
							<a href="/views/">Каталог</a>
						</li>
						<li {{#queue_menu}}class="active"{{/queue_menu}}>
							<a href="/queue/">Импорт</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>