{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li><a href="/views/">Каталог</a></li> /
		<li>{{ view_title }}</li>
	</ul>
	<div style="margin-bottom: 10px;clear:both;">
		<a href="/view/{{ view_id }}/type/create/" class="btn" ><i class="icon-plus"></i> Добавить тип</a>
	</div>
	<div style="clear: both;">
		{{#types}}
			<div class="block_elements">
				<div class="block_element">
					<div>
						<div style="margin-right: 10px;width: 120px;float: Left;">
							{{ title }}
						</div>
						<a class="btn btn-mini"  rel="tooltip" href="/view/{{ view_id }}/type/{{ id }}/edit/" ><i class="icon-edit"></i></a>
					</div>
				</div>
			</div>
		{{/types}}
	</div>
</div>
{{> footer }}