{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li class="active">Каталог</li>
	</ul>
	<div style="margin-bottom: 10px;clear:both;">
		<a href="/view/create/" class="btn" ><i class="icon-plus"></i> Добавить тип</a>
	</div>
	<div style="clear: both;">
		{{#views}}
			<div class="block_elements">
				<div class="block_element">
					<div>
						<div style="margin-right: 10px;width: 120px;float: Left;">
							{{ title }}
						</div>
						<a class="btn btn-mini"  rel="tooltip" href="/view/{{ id }}/types/" ><i class="icon-align-justify"></i></a>
						<a class="btn btn-mini"  rel="tooltip" href="/view/{{ id }}/edit/" ><i class="icon-edit"></i></a>
					</div>
				</div>
			</div>
		{{/views}}
	</div>
</div>
{{> footer }}