{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li class="active"><a href="/brand/{{ brand_id }}/types/">{{ brand_title }}</a> / </li>
		<li class="active"><a href="/brand/type/{{ brand_type_id }}/product/list/">{{ brand_type_title }}</a></li> /
		<li class="active">{{ legend }}</li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>
			<div class="control-group">
				<label class="control-label" for="inputTitle">Название</label>
				<div class="controls">
					 <input type="text" id="inputTitle" name="title" value="{{ title }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPrice">Цена</label>
				<div class="controls">
					 <input type="text" id="inputPrice" name="price" value="{{ price }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSale">Скидка</label>
				<div class="controls">
					 <input type="text" id="inputSale" name="sale" value="{{ sale }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>
			<hr/>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{{> footer }}
