{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li class="active"><a href="/brand/{{ brand_id }}/types/">{{ brand_title }}</a> / </li>
		<li class="active">{{ brand_type_title }}</li>
	</ul>
	<div style="margin-bottom: 10px;clear:both;">
			<a href="/brand/type/{{ brand_type_id }}/product/create/" class="btn" ><i class="icon-plus"></i>Добавить</a>
	</div>
	<div style="clear: both;">
		<h3>{{ brand_type_title }}</h3>
		<table class="table table-striped">
			<tr>
				<th>
					Название
				</th>
				<th>
					Цена
				</th>
				<th>
					Скидка
				</th>
				<th>

				</th>
			</tr>
			{{#products}}
				<tr>
					<td>
						{{ title }}
					</td>
					<td>
						{{ price }}
					</td>
					<td>
						{{ sale }}
					</td>
					<td>
						<a class="btn btn-mini"  rel="tooltip" href="/brand/type/{{ brand_type_id }}/product/{{ id }}/edit/" title="Редактировать"><i class="icon-edit"></i></a>
					</td>
				<tr>
			{{/products}}
		</table>
	</div>
</div>
{{> footer }}