{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li class="active"><a href="/markets/">Магазины</a> / </li>
		<li class="active">{{ legend }}</li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>
			<div class="control-group">
				<label class="control-label" for="inputTitle">Название</label>
				<div class="controls">
					 <input type="text" id="inputTitle" name="title" value="{{ title }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputAddress">Адрес</label>
				<div class="controls">
					 <input type="text" id="inputAddress" name="address" value="{{ address }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPhone">Телефон</label>
				<div class="controls">
					 <input type="text" id="inputPhone" name="phone" value="{{ phone }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSite">Сайт</label>
				<div class="controls">
					 <input type="text" id="inputSite" name="site" value="{{ site }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLatitude">Широта</label>
				<div class="controls">
					 <input type="text" id="inputLatitude" name="latitude" value="{{ latitude }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLongitude">Долгота</label>
				<div class="controls">
					 <input type="text" id="inputLongitude" name="longitude" value="{{ longitude }}" class="span11">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputCity">Город</label>
				<div class="controls">
					<select name='city' id='inputCity'>
						{{#countries}}
							<optgroup label="{{ title }}">
								{{#cities}}
									<option value='{{ id }}' {{ cheched }}>{{ title }}</option>
								{{/cities}}
							</optgroup>
						{{/countries}}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>
			<hr/>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{{> footer }}
