{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li class="active"><a href="/brands/">Бренды</a> / </li>
		<li class="active">{{ brand_title }}</li>
	</ul>
	<div style="margin-bottom: 10px;clear:both;">
			<a href="/brand/{{ brand_id }}/type/create/" class="btn" ><i class="icon-plus"></i>Добавить</a>
	</div>
	<div style="clear: both;">
		{{#views}}
			<h3>{{ title }}</h3>
			<table class="table table-striped">
				<tr>
					<th>
						Название
					</th>
					<th>
						Тип
					</th>
					<th>
						Пол
					</th>
					<th>

					</th>
				</tr>
				{{#brand_type}}
					<tr>
						<td>
							{{ title }}
						</td>
						<td>
							{{ title_type }}
						</td>
						<td>
							{{ sex }}
						</td>
						<td>
							<a class="btn btn-mini"  rel="tooltip" href="/brand/type/{{ id }}/product/list/" title="В наличие"><i class="icon-list"></i></a>
							<a class="btn btn-mini"  rel="tooltip" href="/brand/{{ brand_id }}/type/{{ id }}/edit/" title="Редактировать"><i class="icon-edit"></i></a>
						</td>
					<tr>
				{{/brand_type}}
			</table>
		{{/views}}
	</div>
</div>
{{> footer }}