{{> header }}

<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li><a href="/countries/">Страны</a></li> /
		<li><a href="/country/{{ country_id }}/cities/">{{ country_title }}</a></li> /
		<li class="active">{{ legend }}</li>
	</ul>
	<form action="{{ action }}" class="form-horizontal" method="post">
		<fieldset>
			<legend>{{ legend }}</legend>

			<div class="control-group">
				<label class="control-label" for="inputTitle">Название</label>
				<div class="controls">
					 <input type="text" id="inputTitle" name="title" value="{{ title }}" class="span12">
				</div>
			</div>

            <div class="control-group">
                <label class="control-label" for="inputTitleGenitive">Название (Род)</label>
                <div class="controls">
                    <input type="text" id="inputTitleGenitive" name="title_genitive" value="{{ title_genitive }}" class="span12">
                </div>
            </div>
			<div class="control-group">
				<label class="control-label" for="inputTitlePrepositional">Название (Пред)</label>
				<div class="controls">
					 <input type="text" id="inputTitlePrepositional" name="title_prepositional" value="{{ title_prepositional }}" class="span12">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputUrl">Урл</label>
				<div class="controls">
					 <input type="text" id="inputUrl" name="url" value="{{ url }}" class="span12">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Описание</label>
				 <div class="controls">
					<textarea rows="10" id="inputDescription" name="description" class="span11">{{ description }}</textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Сохранить</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

{{> footer }}