{{> header }}
<div class="container" style="margin-top: 50px;">
	<ul class="breadcrumb">
		<li><a href="/countries/">Страны</a></li> /
		<li class="active">{{ country_title }}</li>
	</ul>
	<div style="margin-bottom: 10px;clear:both;">
		<a href="/country/{{ country_id }}/city/create/" class="btn" ><i class="icon-plus"></i> Добавить город</a>
	</div>
	<div style="clear: both;">
		{{#word_cities}}
			<div class="block_elements">
				<div class="block_letter">{{ word }}</div>
				{{#cities}}
				<div class="block_element">
					<div>
						<div style="margin-right: 10px;width: 120px;float: Left;">
							{{ title }}
						</div>
                        <a class="btn btn-mini"  rel="tooltip" href="/city/{{ id }}/markets/" data-original-title="Магазины"><i class="icon-align-justify"></i></a>
                        <a class="btn btn-mini"  rel="tooltip" href="/country/{{ country_id }}/city/{{ id }}/edit/" data-original-title="Редактировать"><i class="icon-edit"></i></a>
					</div>
				</div>
				{{/cities}}
			</div>
		{{/word_cities}}
	</div>
</div>
{{> footer }}