{{> header }}

<div class="page">
    {{> navigation }}

    <div class="trendy contentpart">
        {{> banner }}
        <div class="decortop">
            <div class="container">
                <h2>{{ name }}</h2>
            </div>
        </div>
        <div class="container">
            <div class="sixteen columns bio">
                <div class="twelve columns alpha">
                    {{ description }}
                    <!--<p class="bioquote">-->

                    <!--</p>-->
                    <!--<h3>trendy topics</h3>-->
                    <!--<div class="tags">-->
                        <!--<a href="/search/adriana/as-seen-in/">As Seen In</a>-->
                    <!--</div>-->
                </div>

                <div class="four columns omega" style="text-align: center">
                    <img class="bioimage" src="{{ image }}" alt="" />
                </div>
            </div>

            <div class="sixteen columns blog">
                <div class="decortop2"></div>
                <h2 class="secondbox">
                    <span class="highlight">top</span> Brands
                </h2>
                {{#brands}}
                    <article>
                        <!--<h2 class="numb">1</h2>-->
                        <img class="thumb" src="{{ image }}" alt="" />
                        <div class="homepost">
                            <h3 class="title">{{ title }}</h3>
                            <!--<h3 class="date">-->

                            <!--</h3>-->
                        </div>
                        <p class="posttext">{{ annotation }} <a href="{{ url }}">подробнее &rarr;</a> </p>
                    </article>
                    <img class="divider" src="/s/img/divider1.png" alt="" />
                {{/brands}}
            </div>

        </div>
        <div class="decortop"></div>
    </div>
    {{> bottom }}
</div>

{{> footer }}