{{> header }}
<div class="page">
    {{> navigation }}
    <div class="trendy contentpart">
        {{> banner }}


        <div class="decortop">
            <div class="container">
                <h1>{{ title_page }}</h1>
            </div>
        </div>
        <div class="container">
            <div class="sixteen columns">
                <h2 class="intro {{#back}}back{{/back}}">
                    {{#back}}
                        <span>
                            <a href="/designers/">&lt;&lt; назад</a>
                        </span>
                    {{/back}}
                    {{^back}}
                    {{#words}}
                            <span style="margin-right: 1%;">
                                <a href="/designers/{{ url }}/">{{ up }}</a>
                            </span>
                    {{/words}}
                    {{/back}}
                </h2>
            </div>

            <div class="sixteen columns blog">
                {{#designers}}
                <article>
                    <h2 class="numb">{{ index }}</h2>
                    <img class="thumb" src="{{ image }}" alt="" />
                    <div class="homepost">
                        <h3 class="title">{{ name }}</h3>
                        <!--<h3 class="date">22 January 2013</h3>-->
                    </div>
                    <p class="posttext">{{ description }}</p>
                    <a href="{{ url }}">подробнее &rarr;</a>
                </article>
                <img class="divider" src="/s/img/divider1.png" alt="" />
                {{/designers}}
            </div>
        </div>

        <div class="decortop"></div>
    </div>

    {{> bottom }}
</div>
{{> footer }}